body {
	background-color: #085f63;
	background-image: url("../img/mesa.jpeg");
}

h1, h2, h3, h4, p, li {
	color: #085f63;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	color: #085f63;
}

 h3 {
	color: #facf5a;
}

label {
	text-decoration: underline;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

p, li{
	font-size: 18px;
}

a {
	color: #085f63;
}

hr.separador {
  border-top: 4px solid #facf5a;
}

h2, h3, h4, p {
	margin: 4px;
}

.folio {
	padding: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 15%;
	margin-right: 15%;
	background-color: white;
}

.cabecera {
	text-align: center;
}

.perfil, .datos_personales, .aficiones ul, .aficiones ul li {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.datos_personales {
	list-style: none; 
  	padding: 0;
  	margin: 0;
}

.datos_personales {
	flex-direction: row;
	justify-content: space-between;
}

.datos_personales li {
	margin: 10px;
}

.informacion {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.formacion {
	grid-column: 1;
	grid-row: 1;
}

.experiencia {
	grid-column: 2;
	grid-row: 1/3;
}

.certificaciones {
	grid-column: 1;
	grid-row: 2;
}

.tecnologias {
	grid-column: 2;
	grid-row: 3;
}

.aptitudes {
	grid-column: 1;
	grid-row: 3;
}

.aficiones {
	grid-column: 1/4;
	grid-row: 3;
}

.informacion section {
	margin: 10px;
}

.informacion section {
	display: flex; 
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.informacion section h2 {
	text-align: center;
	background-color: #085f63;
	color: white;
	border-radius: 20px; 
	border: 10px #085f63 solid;
}

.departamento {
	text-align: center;
}

.educacion li,  .experiencia li{
	list-style: none;
	padding-bottom: 20px;
}

.educacion h3, .educacion h4, 
.experiencia h3, .experiencia h4 {
	text-align: center;
}

.lista_soporte li{
	list-style: disc;
	padding: 2px;
}

.lista_soporte li ul li{
	list-style: circle;
}

.aficiones h2{
	text-align: center;
	margin-top: 40px;
}	
	
.aficiones ul{
	flex-direction: row;
	list-style: none;
}

.aficiones ul li {
	margin: 50px;
}

.aficiones ul li label{
	text-decoration: none;
	margin-top: 5px;
	font-size: 18px;
	font-weight: bold;
}

.informacion section ul{
	padding: 4px;
}


@media screen and (min-width: 1024px) {
	a:hover {
		color: #facf5a;
	}
}

@media screen and (max-width: 950px) {
	
	img {
		/* height: 150px; */
		width: 150px;
	}

	.informacion {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	

	.informacion section {
		margin: 0;
		padding: 0;
	}

	.informacion section ul {
		padding: 10px;
	}

	.folio {
		margin: 5%;
	}
	
	h1 {
		text-align: center;
	}
	
	.informacion img, .aficiones img {
		height: 64px;
		width: 64px;
	}
	
	.aficiones ul{
		flex-direction: column;
		padding: 0;
	}

	.aficiones ul li {
		margin: 10px;
	}

}
