body {
	background-color: #0e9091;
}

h1, h2, h3, h4, p, li {
	color: #086b6c;
}

hr.separador {
  border-top: 4px solid #0e9091;
}

h3, p {
	margin: 4px;
}

.folio {
	padding: 20px;
	margin: 50px;
	background-color: white;
}

.cabecera {
	text-align: center;
}

.perfil, .datos_personales {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.datos_personales {
	list-style: none; 
  	padding: 0;
  	margin: 0;
}

.datos_personales {
	flex-direction: row;
	justify-content: space-between;
}

.datos_personales li {
	margin: 10px;
}

.informacion {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.formacion {
	grid-column: 1;
	grid-row: 1;
}

.experiencia {
	grid-column: 2;
	grid-row: 1;
}

.certificaciones {
	grid-column: 1;
	grid-row: 2;
}

.tecnologias {
	grid-column: 2;
	grid-row: 2;
}

.aptitudes {
	grid-column: 1 / 3;
	grid-row: 3;
}

.informacion section {
	margin: 10px;
}

.informacion section h2 {
	background-color: #0e9091;
	color: white;
	border-radius: 20px; 
	border: 10px #0e9091 solid;
}

@media screen and (max-width: 649px) {

	img {
		height: 150px;
		width: 150px;
	}

}